<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>엔씨테크</title>
    <style>
        #nav-content2-container {
            margin-left: 10px;
            margin-right: 10px;
            height: 50px;
        }
        #nav-content2-container form{
            float:right;
        }
        #nav-content2-container {
            width: 95%;
            padding-top: 5px;
            padding-left: 10px;
            margin:auto;
            height: 35px;
            margin-top:15px;
            border:1px solid #cccdcf;
        }
        #nav-content2-container2 {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            margin: auto;
            margin-top: 10px;
            margin-bottom:15px;
            padding:10px;
            border:1px solid #cccdcf;
        }
        #image-container{
            display:flex;
            flex-direction: column;
            height:auto;
        }
        #comment-container {
            display: flex;
            flex-direction: column;
            height: auto;
            margin-top:10px;
        }
        input[type="submit"]{
            border:none;
            width:50px;  
            height: 25px;  
            margin-right: 15px;  
            text-align: center;
            border-radius: 5px;
            background-color:#00427bd3;
            color:white;
        }
       
        #comment{
            display:flex;
            flex-direction: column;
            padding-left:10px;
            margin-top:5px;
        }
        #comment form{
            margin-right: 19px;
            margin-bottom: 2px;
            float:right;
        }
        #comment>div>span{
            padding-left: 5px;
            font-size:15px;
        }
        #comment>div>p{
            font-size:17px;
        }
        #comment hr{
            border:1px solid #cccdcf;
        }

        #comment-container {
            display: flex;
            flex-direction: column;
            height: auto;
        }

        #comment-write{
            width:100%;
        }
        #comment-write textarea {
            display: inline-block;
            width: 80%;
            height: 70px;
        }
        #comment-write form {
            margin-top:10px;
            display: inline-block;
            width: 100%;
            height: 70px;
        }
        #deletecommentBtn{
            float:right;
        }

    </style>
    <script>
        function cntChar(obj){
            const str=obj.value;
            const str_len=str.length;
            
            if(300<str_len){
                alert("메시지는 최대 300자를 초과할 수 없습니다.");
                str2=str.substr(0,300);
                obj.value=str2;
                document.getElementById("textcount").innerText=str2.length;
            }else{
                document.getElementById("textcount").innerText=str_len;
            }
        }
    </script>
    <link rel="stylesheet" href="/css/stylecss.css">
    <link rel="stylesheet" href="/css/stylecss2.css">
</head>

<body>
    <div id="container">
        <header>
            <%- include("header.ejs") %>
        </header>

        <section>
            <div id="main-content">

                <div id="nav-content">
                    <div id="nav-content-title">
                        <p>견적문의</p>
                    </div>
                    <ul>
                        <li><a href="/estimate?page=1">견적문의</a></li>
                    </ul>
                </div>

                <div id="nav-content2">
                    <div id="nav-content2-title">
                        견적문의<br>
                        <hr>
                    </div>
                    <h3>
                        <%= elist.title %>
                    </h3>
                    <div id="nav-content2-container">
                        <img src="/img/usericon.png">
                            <%= elist.writer %>
                                &nbsp;&nbsp;
                            <img src="/img/timeicon.png"> <%= elist.date %>
                            <span>
                            <form id="good" action="/delete_estimate" method="post" accept-charset="UTF-8">
                                <input type="hidden" name="id" value="<%= elist.id %>">
                                <input type="hidden" name="imgs" value="<%= elist.imgs %>">
                                <input type="submit" id="sendBtn" value="삭제">
                            </form>
                        </span>
                    </div>
                    <div id="nav-content2-container2">
                        <p>
                            <%= elist.content %>
                        </p>
                    </div>
                    <div id="image-container">
                        <% if(elist.imgs!==null) {%>
                            <% for(var i=0; i<elist.imgs.length;i++){ %>
                                <script>
                                    const imageContainer = document.getElementById("image-container");
                                    let img = document.createElement("img");
                                    let newimage=new Image();
                                    img.src="/uploads/"+"<%= elist.imgs[i] %>";
                                    img.onload=function(){
                                        if(parseInt(img.naturalWidth)>970){
                                            img.width=img.naturalWidth*0.35;
                                            img.height=img.naturalHeight*0.35;
                                        }else{
                                            img.width=img.naturalWidth;
                                            img.height=img.naturalHeight;
                                        } 
                                        imageContainer.appendChild(img);
                                    }
                                </script>
                                <% }} %>
                    </div>
                    <div id="comment-container">
                        
                        <hr>
                        <span style="font-size:30px;">답변</span>
                        <hr>
                        <% if(elist.checkcomment!==0){ %>
                            <div id="comment">
                                <% for(var i=0; i<elist.comment.length;i++) {%>
                                    <div>
                                        <span><img src="/img/usericon.png"> 엔씨테크</span>&nbsp;&nbsp;&nbsp;
                                            <span><img src="/img/timeicon.png"> <%= elist.comment[i].date %></span>
                                            
                                                <form id="good" action="/delete_comment" method="post" accept-charset="UTF-8">
                                                    <input type="hidden" name="id" value="<%= elist.id %>">
                                                    <input type="hidden" name="commentid" value="<%= i %>">
                                                    <input type="submit" id="deletecommentBtn" value="삭제">
                                                </form>
                                            
                                        
                                    </div>
                                    <div>
                                        <%= elist.comment[i].content %>
                                    </div>
                                    <hr>
                                    <% } %>
                            </div>
                        <% } %>
                            <div id="comment-write">
                                <form action="/write_comment" method="post" accept-charset="UTF-8">
                                    <textarea name="content" id="comment" onkeyup="cntChar(this)"></textarea>
                                    <span id="textcount">0</span> / 300
                                    <input type="hidden" name="id" value="<%= elist.id %>">
                                    <input type="hidden" name="num" value="<%= elist.comment.length %>">
                                    <input type="submit" value="입력">
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <%- include("footer.ejs") %>
        </footer>
    </div>
</body>

</html>